.bioandes-view {
  height: 100%;
}

.bioandes-search {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/bioandes-2019.appspot.com/o/search-background.jpg?alt=media&token=1c5296f0-1b0d-4371-b843-f8f2cb85267b');
  background-size: cover;
  height: fit-content;
  grid-column: 1 / -1;
}

.bioandes-search h1 {
  color: #ffffff;
}

div.bioandes-search {
  align-content: center;
  display: grid;
  justify-content: center;
}

.bioandes-search-content {
  display: grid;
  grid-template-columns: var(--page-grid-column);
  position: relative;
  text-align: center;
}

.bioandes-search-results {
  grid-column: 2;
}

.bioandes-content img {
  margin-bottom: 30px;
  max-width: 800px;
}