.bioandes-view {
  height: 100%;
}

.bioandes-search {
  background-image: url('/images/search-background.jpg');
  background-size: cover;
  height: fit-content;
  grid-column: 1 / -1;
}

.bioandes-search h1 {
  color: #ffffff;
}

div.bioandes-search {
  align-content: center;
  display: grid;
  justify-content: center;
}

.bioandes-search-content {
  display: grid;
  grid-template-columns: var(--page-grid-column);
  position: relative;
  text-align: center;
}

.bioandes-search-results {
  grid-column: 2;
}

.bioandes-content img {
  margin-bottom: 30px;
  max-width: 800px;
}