.login-and-signup {
  align-content: center;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/bioandes-2019.appspot.com/o/jungle-background.jpg?alt=media&token=fc1f2e34-fd90-4a76-bc95-21eefa42518a');
  background-size: cover;
  height: 100%;
  display: grid;
  justify-content: center;
}

.form-card {
  background-color: #ffffff;
  border: 1px solid var(--grey);
  border-radius: 10px;
  height: min-content;
  margin: 80px 0;
  max-width: 500px;
  width: 400px;
}

.form-card h1 {
  font-size: 60px;
  margin: 10px 0;
}

.form-card h2 {
  margin: 10px 30px 10px;
}

.form-card h3 {
  text-align: center;
  margin: 0 30px 30px;
}

.form-card form {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}

.form-card label {
  font-size: 20px;
  margin: 10px 0 5px;
}

.form-card form > input {
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 15px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 2px;
  width: 300px;
}

.form-card form > input:focus {
  border: 2px solid var(--primary-light);
  outline: 0;
  padding-left: 9px;
}

.form-card p {
  font-size: 12px;
  margin: 0 0 0 10px;
}

.form-card input[type="submit"] {
  align-self: center;
  background-image: linear-gradient(-180deg, var(--primary-light) 0%, var(--primary) 100%);
  border: 1px solid var(--primary-dark);
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 20px 0;
  width: 200px;
}

.form-card input[type="submit"]:hover {
  background-image: linear-gradient(-180deg, var(--primary) 0%, var(--primary-dark) 100%);
}

.form-card input[type="submit"]:active {
  background-image: linear-gradient(-180deg, var(--primary-dark) 0%, var(--primary) 100%);
}

.form-card input[type="submit"]:focus{
  border: 1px solid var(--primary-dark);
  outline: 0;
}

.signup-password {
  display: flex;
  align-items: center;
}

.signup-password input[type="button"] {
  border: none;
  background-color: white;
  font-weight: 700;
  font-size: 14px;
  height: 20px;
  margin-left: auto;
  text-decoration: underline;
}

.signup-password input[type="button"]:hover {
  color: var(--grey);
  cursor: pointer;
}

.checkmark-wrapper {
  width: 150px;
  margin: 60px auto 40px;
}

.checkmark {
  stroke: var(--primary-light);
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}