.vista-global {
  text-align: center;
  margin: 0;
}

.vista-global p {
  max-width: 900px;
  margin: 20px auto;
}

#tree {
  height: 1300px;
  margin: 20px auto 50px;
  text-align: center;
  width: 1300px;
}