.loading-container {
  align-items: center;
  display: grid;
  justify-content: center;
  margin: auto;
}

.loading-wrapper {
  height: 53px;
  margin: 40px;
  width: 40px;
}

.loading-wrapper svg rect {
  fill: var(--primary-light);
}