nav.navbar {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: var(--page-grid);
  margin: 0;
  min-height: 80px;
}

.navbar-content {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2;
  height: 100%;
}

.navbar-items {
  display: flex;
  margin-left: auto;
  padding: 0;
}

@media all and (max-width: 650px) {
  .navbar-content {
    justify-content: center;
  }

  .navbar-items {
    margin-left: 0;
  }
}

.navbar a {
  color: white;
  text-decoration: none;
}

h1.navbar-banner {
  font-weight: bold;
  font-size: 50px;
  margin: auto 20px;
}

li.navbar-item {
  font-size: 20px;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.navbar-item a.active {
  color: #828282;
}

.navbar-item a:not(.active):hover {
  color: #BEBEBE;
}