.navbar-mobile-content {
  align-items: center;
  display: flex;
  width: 100%;
}

.navbar-mobile-content h1 {
  color: white;
  font-size: 35px;
  margin: auto auto auto 20px;
}

.navbar-mobile-content button {
  background-color: var(--primary);
  border: solid 2px white;
  border-radius: 5px;
  color: white;
  height: 40px;
  font-size: 20px;
  margin: auto 20px auto auto;
  width: 80px;
}

li.navbar-item {
  font-size: 30px;
  list-style-type: none;
  margin: 20px 5px;
  padding: 0;
}

#navbar-mobile-slide {
  width: 70vw;
  height: 100vh;
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}

#navbar-mobile-slide.navbar-mobile-hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#navbar-mobile-slide.navbar-mobile-show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#navbar-opaque {
  width: 100vw;
  height: 100vh;
  background-color: #808080FF;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease-out;
  overflow: scroll;
  z-index: 999;
}

#navbar-opaque.navbar-opaque-hide {
  visibility: hidden;
  background-color: #80808000;
}

#navbar-opaque.navbar-opaque-show {
  background-color: #80808077;
}